# Misc
.DS_Store
internal/
docs/private/
fluttrim_planning_md_set/

# IDEs
.idea/
.vscode/

# Dart / Flutter
.dart_tool/
.packages
build/
coverage/

# Flutter generated plugin files
.flutter-plugins
.flutter-plugins-dependencies
